*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "poppins";
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
}
main {
  max-width: 1100px;
  margin: 0 auto;
}

.primary-grey{
    color:   hsl(212, 6%, 44%);
    font-weight: 300;
}
p{
    color: hsl(212, 6%, 44%);
    line-height: 1.6
}
header{
    text-align: center;
    padding: 2rem;
}
h2{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
h3{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
.main-p{
    margin: 1.5rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card{
    background-color: #ffffff;
    width: 310px;     
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    
    
}
.one{
   border-top: 4px solid hsl(180, 62%, 55%);
}
.two{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.three{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.four{
    border-top: 4px solid  hsl(212, 86%, 64%)
;
}
.card img {
  display: block;
  margin-left: auto;
  margin-top: 2rem;
}

    

footer{
    margin: 2rem;
}
@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-areas:
      "one two four"
      "one three four";
    gap: 2rem;
    justify-content: center;
  }
  .one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }



   
   h2{
    font-weight: 700;
   }
}